html, body {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    background-color: #BCB5C4;
}
.headshot {
    border-radius: 50%;
}
div {
    margin-bottom: 20px;
}
footer {
    background-color: #CFCFEA;
    box-shadow: 0 50vh 0 50vh #CFCFEA;
}
h1 {
    font-weight: bold;
}
h2 {
    font-weight: bold;
}
h3:not(.header-subtitle)  {
    text-decoration: underline;
}
h4 {
    font-style: italic;
}
p {
    font-size: x-large;
}
ul {
    font-size: x-large;
}
img:not(.headshot) {
    width: 80px;
    height: 80px;
}