html, body {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    background-color: #BCB5C4;
}
.headshot {
    border-radius: 50%;
}
div {
    margin-bottom: 20px;
}
footer {
    background-color: #CFCFEA;
    box-shadow: 0 50vh 0 50vh #CFCFEA;
    margin-bottom: 30px;
}
p {
    font-size: x-large;
}
ul {
    font-size: x-large;
}